body{
	margin: 10px;
}

.feedbacks{
	border: 1px solid lightgrey;
	border-radius: 10px; 
	padding: 10px;
}

.feedback{
	margin: 0px 0px 30px 0px;
}

#feedback_username{
	font-weight: bold;
}

#feedback_date{
	color: lightgrey;
}