<!DOCTYPE HTML>
{% load widget_tweaks %}
<head>
  <title> Inventory </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="col-sm-6">
      <div class="page-header padding-left">
        <h1>Note</h1>
      </div>

      <p>Date is in YYYY-mm-dd format.</p>
    </div>
    <!-- form part -->

    <div class="col-sm-6">
      <form role="form" action="" method = "post">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}

          {{ hidden_field }}
        {% endfor %}


        {% for field in form.visible_fields %}

          <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          </div>

        {% endfor %}
        <!-- {{ form.as_p }} -->
        <button type="submit" class="btn btn-primary">Submit new music</button>
      </form>
      {% if status %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endif %}
    </div>
  </div>
</body>
