<!DOCTYPE HTML>
<head>
  <title> Music Store - Database Project </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container padding-top">
    <div class="jumbotron">

      <h1>Welcome to the music store!</h1>
    <p>Navigate through the buttons below</p>
  </div>
  <a class ="btn btn-warning btn-lg" role="button" href ="./inventory">Invetory System (Admin only)</a>
  <br>

  <a class ="btn btn-info btn-lg" role="button" href ="./browse">Browse for music</a>
  <a class ="btn btn-info  btn-lg" role="button" href ="./statistics">Get stats on the music</a>
  <a class ="btn btn-info  btn-lg" role="button" href ="#">Get some recommendations!</a>
  <a class ="btn btn-info  btn-lg" role="button" href ="./music">Want to leave a feedback?</a>


  </div>

</body>
